.heading-name {
	color: white;
}

.intro-para {
	color: white;
}

.container-size-l {
	color: black;
	width: 400px;
	height: 250px;
	background-color: rgb(39, 34, 35);
	border-radius: 20px;
	text-align: center;
	margin: auto;
	margin-top: 50px;
	padding-top: 5px;
	margin-bottom: 50px;
	font-size: 30px;
}

.input-s {
	align-content: center;
}

.form-group {
	align-content: center;
}

.btn {
	width: 150px;
}
